<h1 class="icon-profile"><span>Import Products</span></h1>
<div class="content-profile">
  <div id="formDiv">
    <%= form_tag upload_products_admins_path, :multipart => true do %>
      <table>
        <tr class="row">
          <td>Product CSV File:</td>
          <td><%= file_field_tag :file %></td>
        </tr>
        <tr class="row">
          <td></td>
          <td>
            <div><input type="submit" title="Submit" value="Submit" /></div>
          </td>
        </tr>
      </table>
    <%end%>
  </div>
