<div class="deals" id="content">
  <div class="bar">Pending Products</div>
  <div class="content homepage" style="width: 800px;background-color: #F5F5F1;">
    <div class="prodImgs">
      <% if !@pending_products.empty? %>
        <% for product in @pending_products %>
          <div class="prodImgWrap" style="height: 160px;">
            <div class="prodImg">
              <%= image_tag(product.images.first.image.url(:original), :width => '170px', :height => '140px') %>
            </div>
            <%= link_to "Confirm Product", confirm_product_admin_path(product), :method => 'put', :class => 'button' %>
          </div>
        <% end %>
      <% else %>
        <div style="text-align: center;padding: 10px;">
          No pending products
        </div>
      <% end %>
    </div>
  </div>

  <div id="leftContent">
    <div class="bar">Confirmed Products</div>
    <div class="content homepage" style="width: 800px;background-color: #F5F5F1;">
      <div class="prodImgs">
        <% for product in @confirmed_products %>
          <div class="prodImgWrap">
            <div class="prodImg"  id="hide_<%= product.id %>">
              <%= link_to image_tag(product.images.first.image.url(:original), :width => '170px', :height => '140px'),product_path(product) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

