<h1 class="icon-orderSalesManagement"><span>Sales Management</span></h1>
<div class="tablebox table-salesManagement">
  <div class="row">
    <div class="column">ID</div>
    <div class="column">Seller Name</div>
    <div class="column">User Name</div>
    <div class="column">Non Profit</div>
    <div class="column">Amount</div>
    <div class="column">Status</div>
  </div>
  <div class="row">
    <div class="column">210789</div>
    <div class="column">Neeraj</div>
    <div class="column">neeraj@gmail.com</div>
    <div class="column">CRY</div>
    <div class="column">$699.00</div>
    <div class="column last">
      <select title="Status">
        <option>Shipped</option>
        <option>In process</option>
      </select>
    </div>
  </div>
</div>