<div class="info">
  <h2>Connect</h2>
  <p>
    <%= link_to image_tag("/assets/icon-facebook-Connect.png"), '/auth/facebook', :id => 'sign_in' %>
<%#= link_to image_tag("/assets/facebook-connect.gif"), '/auth/yahoo' %>
<%#= link_to image_tag("/assets/twitter.jpeg"), '/auth/twitter', :style => 'position: relative;top: -4px;' %>
  </p>
</div>