<h1 class="icon-dashboard"><span>Billing &amp; Shipping Address</span></h1>
<div class="content-profile">
  <%= form_for @billingshippingaddress, :html => {:id => "SS"} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>