<h1 class="icon-profile"><span>Edit Banner Image</span></h1>
<div class="content-profile">
  <div id="formDiv">
    <%= form_for @promo, :url => promotion_code_path(@promo) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>