<h1 class="icon-profile"><span>New Banner Image</span></h1>
<div class="content-profile">
  <div id="formDiv">
    <%= form_for @promo do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
    <% end %>
  </div>
</div>