<div id="bid_form" style="background-color: white;border: 1px solid gray;float: left; position: relative;height: 100px;left: 256px;width: 165%;top: 10px;">
  <br />New Buyer <%= link_to "<b>Register</b>".html_safe, new_user_path(:role => 'buyer') %> <br /><br />
  Already Have account <%= link_to "<b>Login</b>".html_safe, new_user_session_path() %>
</div>