<div class="box-signupSeller">
  <div class="signupBox">
    <h4>
      Sign Up as <%= params[:role].capitalize %>
      <span style="float: right;left: -10px;position: relative;"><%= render :partial => "/devise/shared/signin" if params[:role] == 'buyer' %></span>
    </h4>
    <div class="loginSeller">
      <%= form_for @user do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
      <% end %>
    </div>
  </div>
</div>