<h1 class="icon-addProduct"><span>Add Cause</span></h1>
<div class="content-profile">
  <span style='color: red;'>* All fields are Required.</span>
  <%= form_for @cause do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>