<div class="content">
  <div id="leftColumn">
    <ul class="list-menuLeft">
      <li class="active"><%= link_to "Human Causes", all_causes_path(:cause => 'human_cause') %><span></span></li>
      <li><%= link_to "Animal Causes", all_causes_path(:cause => 'animal_cause') %><span></span></li>
    </ul>
    <div class="menu-categories">
      <h1><span>Categories</span></h1>
      <ul>
        <% Category.all.each do |category| %>
          <li><%= link_to category.name, category_path(:categories => category.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="rightColumn">
    <div class="box-trending">
      <h4>Trending</h4>
      <ul class="list-trending">
        <li><a title="Burma Python Preservation" href="#">Burma Python Preservation</a></li>
        <li><a title="Alp Leopard" href="#">Alp Leopard</a></li>
        <li><a title="Alpine Buffalo" href="#">Alpine Buffalo</a></li>
        <li><a title="Ants" href="#">Ants</a></li>
        <li><a title="Lewa Wildlife Foundation" href="#">Lewa Wildlife Foundation</a></li>
      </ul>
    </div>
    <ul id="collexp" class="menu-collexp">
      <li><a href="javascript:;" class="expanded" title="A">A</a>
        <ul class="list-trending">
          <li><a href="#" title="Alpine Buffalo">Alpine Buffalo</a></li>
          <li><a href="#" title="Alp Leopard">Alp Leopard</a></li>
          <li><a href="#" title="Ants">Ants</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" class="expanded" title="B">B</a>
        <ul class="list-trending">
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" class="collapsed" title="C">C</a>
        <ul class="list-trending">
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" class="collapsed" title="D">D</a>
        <ul class="list-trending">
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" class="collapsed" title="E">E</a>
        <ul class="list-trending">
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
        </ul>
      </li>
      <li><a href="javascript:;" class="collapsed" title="F">F</a>
        <ul class="list-trending">
          <li><a href="#" title="Burma Python Preservation">Burma Python Preservation</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="clearFix"></div>
</div>