<div class="causesBox">
  <h3>ABOUT</h3>
  <p>
    enods, which stands for Earth Needs our Dedicated Support is a social marketplace platform, which enables artisans, and local business to raise funds to support causes via commerce.  It aims to “democratize good” and sustain the planet by raising funds to support non-profit organizations through the sale of products made via the enods platform.  enods allows vendors to pre-select a donation percentage amount to a support animal, human or environmental causes, and nonprofits.<br /><br />
    enods mission is to become the central marketplace for cause related commerce by allowing individuals, organizations, and businesses to directly partake in and promote commerce that has a net benefit to our planet.
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
  }
</style>