<div class="content">
  <div id="leftColumn">
    <div class="menu-categories">
      <h1><span>Categories</span></h1>
      <ul>
        <%= render :partial => '/categories/category' %>
      </ul>
    </div>
    <%= render :partial => '/home/filter' %>
  </div>
  <div id="rightColumn" style="margin-left: -20px;width: 795px;">
    <div class="commonrow">
      <% if @products.present? %>
        <div class="list_carousel">
          <ul id="caroulproduct">
            <% for product in @products  %>
              <% if product.images.present? %>
                <li>
                  <%= link_to image_tag(product.images.first.image.url(:original), :width => "200", :height => "150", :style => 'border-radius: 10px;'), product_path(product) %>
                  <%= render :partial => '/carts/products', :locals => {:product => product} %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% else %>
        <span style="position: relative; color: red; text-align: center; font-size: 20px; left: 50px; top: 10px;">No Products</span>
      <% end %>
    </div>
    <div class="clearFix"></div>
  </div>