<div class="causesBox">
  <h3>Delivery Information</h3>
  <p>
    Please be aware that the terms of delivery are to be determined and set by each individual vendor and may vary from store to store.  enods is not liable for any late, lost or stolen deliveries or if product is different from what was otherwise specified on the marketplace.  In the case that the item you purchase was misrepresented in the image on the marketplace, please email us at <a href="mailto: info@enods.com"><strong>info@enods.com</strong></a>, so we can further look into this issue with the vendor.  For any questions or issues related to the sale or delivery of a purchase, please contact the vendor directly.
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>