<div class="causesBox">
  <h3>Faqs</h3>
  <p>
    <b>1. How do I set up a store?</b><br />
    If you are interested in signing up as a vendor on enods, please check out our vendor page here.  Also note that enods individually approves all of its vendors, so you set up an account, you will not be able to sell your products until your store has been verified.<br /><br />
    <b>2. How long does the marketplace account approval take?</b><br />
    Gaining approving your marketplace account may take up to one week.  Once approved, you will be able to start selling your products right away.<br /><br />
    <b>3. How does the percentage of donation to the nonprofit work?</b><br />
    Once you set up your store and post your products to sell, you will be given the option to select the donation percentage amount.  The donation percentage amount will deducted from your list sale price.  You can donate anywhere from a minimum of 5% to 100% of the list price.<br /><br />
    <b>4. How much commission does enods charge?</b><br />
    enods charges a 10% fee on the sale of an item.  This means that once an item is sold, enods will deduct its fee of 10% off of the listed sale price.
  </p>
  <div class="clearFix"></div>
</div>