<div class="causesBox">
  <h3>How it Works</h3>
  <p>
    <b>Step 1:</b> Sign-up for a marketplace account<br />
    <b>Step 2:</b> Get approved by the enods team<br />
    <b>Step 3:</b> Set up your marketplace store, select the percentage of donation per product and enable others to make a difference in the world though the sales of your items
  </p>
</div>