<div style="padding: 15px;position: relative;text-align: center;top: 65px;">
  <b>Subscribe your Email</b><br />
  <%= form_for @email_alert, :url => create_alert_path(), :mehtod => 'POST' do |f| %>
    <br /><%= f.text_field :email, :placeholder => "Email" %><%= validation_error(@email_alert.errors['email']) %>
    <%= f.submit "Subscribe", :class => 'button' %>
  <% end %>
</div>
<style>
  #email_alert_email{
    width: 200px;
  }
</style>