<div class="causesBox">
  <h3>Secure Shipping</h3>
  <p>
    enods is secure marketplace.  We have security certificates…<br /><br />
    SSL<br />
    Verisign<br />
    Trustwave
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }

  .causesBox b{
    font-size: 17px;
  }
</style>