<article>
  <div class="content">
    <div class="banner-sell">
      <div class="column-questions">
        <ul class="list-buy-sell">
          <li><del>.</del></li>
          <li class="dee">Clothing &amp; Accessories</li>
          <li><del>.</del></li>
          <li class="de">Craft Supplies</li>
          <li><del>.</del></li>
          <li>Handmade Goods</li>
          <li><del>.</del></li>
          <li>Vintage Items</li>
        </ul>
      </div>	
      <div class="column-questions column-sellOnline">	
        <h3>Sell online  your way on <span class="e">E</span><span class="n">n</span><span class="o">o</span><span class="d">d</span><span class="s">s</span></h3>
        <p>"Enods is your place to buy and sell everything from the ordinary to the extraordinary"</p>
        <div class="btn-openEnodsShop">
          <%= link_to "<input type='submit' title='Open Enods Shop' value='Open Enods Shop' />".html_safe, new_user_path(:role => 'seller'), :style => 'text-decoration: none;' %>
        </div>
      </div>
      <div class="clearFix"></div>
    </div>
    <div class="box-product">
      <div class="box-product-inn">
        <ul class="list-menuLeft list-education">
          <li><a title="Human Causes" href="#">Water Relief</a></li>
          <li><a title="Animal Causes" href="#">Education</a></li>
          <li><a title="Environmental Causes" href="#">International Aid</a></li>
        </ul>
        <h2>1.Select a Cause</h2>
        <p>Every Purchase made from your Movement will donate <strong>$1</strong> to your cause.</p>
      </div>
      <div class="box-product-inn">
        <ul class="list-menuLeft list-education list-movement">
          <li><a title="+ Add to Movement" href="#">+ Add  to Movement</a></li>
        </ul>
        <h2>2.Add Products</h2>
        <p>Hover over a product and click to add to your Movement.</p>
      </div>
      <div class="clearFix"></div>
    </div>
    <div class="box-whysell">
      <h5>Why sell on Enods?</h5>
      <ul class="list-normal list-whysell">
        <li>
          <div class="img-marketplace fright"><img class="fright" alt="" title="" src="/assets/img-marketplace.png"/></div>
          <h2>Be Part of Our Global Marketplace</h2>
          <ul class="list-sell">
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum has been the industry's standard dummy text</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum has been the industry's standard dummy text</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
          </ul>					
        </li>
        <li>
          <div class="img-marketplace fleft"><img class="img-money" alt="" title="" src="/assets/img-money.png" /></div>
          <h2>More Money in Your Pocket</h2>
          <ul class="list-sell">							
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum has been the industry's standard dummy text</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum has been the industry's standard dummy text</a></li>
          </ul>
        </li>
        <li>
          <div class="img-marketplace fright"><img class="fright" alt="" title="" src="/assets/img-creativity.png"/></div>
          <h3>Express Your Creativity</h3>
          <ul class="list-sell">
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title=""> Lorem Ipsum has been the industry's standard dummy text</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</a></li>
            <li><a href="#" title="">Lorem Ipsum has been the industry's standard dummy text</a></li>
          </ul>
        </li>
        <li>
        </li>
      </ul>			
      <div class="clearFix"></div>
    </div>
    <div class="clearFix"></div>
  </div>
  <div class="row-questions">
    <div class="content">
      <h5>Have More Questions?</h5>
      <div class="column-questions">
        <h2>How do fees work on Enod?</h2>
        <p> Joining and setting up a shop on Enod is free. Each item listing on Etsy costs $0.20 USD when the listing is published. A listing lasts for four months or until the item
          is sold. Once a sale occurs, we assess a 3.5% transaction fee on the item's sale price. You have an opportunity to review and accept the fees that you will be charged prior 
          to publishing a listing. </p>
        <p>Fees for listings and transactions are accrued on your monthly Enod bill. At the end of each month we add up all your fees, and we email your monthly statement to you. 
          You must pay your bill by the 15th of the next month using either the credit card on file or PayPal </p>
        <h2>How do fees work on Enod?</h2>
        <p> Joining and setting up a shop on Enod is free. Each item listing on Etsy costs $0.20 USD when the listing is published. A listing lasts for four months or until the item
          is sold. Once a sale occurs, we assess a 3.5% transaction fee on the item's sale price. You have an opportunity to review and accept the fees that you will be charged prior 
          to publishing a listing. </p>
      </div>
      <div class="column-questions">
        <h2>How do fees work on Enod?</h2>
        <p> Joining and setting up a shop on Enod is free. Each item listing on Etsy costs $0.20 USD when the listing is published. A listing lasts for four months or until the item
          is sold. Once a sale occurs, we assess a 3.5% transaction fee on the item's sale price. You have an opportunity to review and accept the fees that you will be charged prior 
          to publishing a listing. </p>
        <p>Fees for listings and transactions are accrued on your monthly Enod bill. At the end of each month we add up all your fees, and we email your monthly statement to you. 
          You must pay your bill by the 15th of the next month using either the credit card on file or PayPal </p>
        <h2>How do fees work on Enod?</h2>
        <p> Joining and setting up a shop on Enod is free. Each item listing on Etsy costs $0.20 USD when the listing is published. A listing lasts for four months or until the item
          is sold. Once a sale occurs, we assess a 3.5% transaction fee on the item's sale price. You have an opportunity to review and accept the fees that you will be charged prior 
          to publishing a listing. </p>
      </div>
    </div>
  </div>
</article>