<div class="causesBox">
  <h3>Shipping Returns</h3>
  <p>
    enods is not responsible for, or involved in the return process between the customer and vendor.  enods expects it’s vendors to provide customers with an exceptional level of service, but the shipping return policy is set by each individual vendor and may differ from store to store.  For any questions about returning a specific item, please contact the vendor directly.
  </p>
</div>
<style>
  .causesBox p{
    font-size: 15px;
    text-indent: 10px;
  }
</style>