<h1>Payment Checkout </h1>
<p class="required">*All fields are required</p>
<div id="formDiv">
  <%= form_for @order do |f| %>
    <b style="font-size: 20px;">Total Price:</b> <%= @cart.total_price %>
      <%#= f.hidden_field :express_token %>
      <p>Name: <%=h @order.first_name %> <%=h @order.last_name %></p>
      <p>Please click below to finish payment.  </p>
    <p style="padding-left: 200px;">
      <button class="submit_button">Purchase</button>
  <%#= f.submit "Complete Payment" %>
    </p>
  <% end %>
</div>