<% if @invitation.errors.any? %>
  $("#errors").html('<ul><% for msg in @invitation.errors.full_messages %><li style="color: red;margin: -40px 0 0 -40px;"><%= msg %></li><% end %></ul>');
  $("#invitation_email").val(' ');
<% else %>
  $("#invitation_email").val(' ');
  $("#errors").hide();
  $("#invitations").html('<%= escape_javascript render :partial => '/invitations/invitations' %>');
<% end %>