<% if @invitation.errors.present? %>
  $("#invitations").html('<ul><% for msg in @invitation.errors.full_messages %><li style="color: red;"><%= msg %></li><% end %></ul>');
<% else %>
  $("#invitation_email").val(' ');
  $("#invitations").html('<%= escape_javascript render :partial => '/invitations/invitations' %>');
<% end %>