<div class="row-invite">
  <%= form_for @invitation,:remote => true do |f| %>
    <%= f.text_field :email, :placeholder => "E-mail"%>
    <%= f.submit "Invite", :class => 'button' %>
  <% end %>
</div>
<div id="errors" style="position: relative;width: 200px;"></div>
<h1 class="icon-invitations"><span>Invitations</span></h1>
<div id="invitations">
  <%= render :partial => 'invitations' %>
</div>