<br /><%= form_for @invitation,:remote => true do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Invite", :class => 'button' %>
<% end %>
<div id="invitations">
  <%= render :partial => 'invitations' %>
</div>