<div class="row-invite">
  <%= form_for @invitation,:remote => true do |f| %>
    <%= f.text_field :email %>
    <%= f.submit "Invite", :class => 'button' %>
  <% end %>
</div>
<div id="errors" style="position: relative;width: 170px;margin: -45px 0 0 -40px;min-height: 45px;"></div>
<h1 class="icon-invitations"><span>Invitations</span></h1>
<div id="invitations">
  <%= render :partial => 'invitations' %>
</div>