<%= form_for @invitation, :url => invitations_path, :html => {:method => 'POST', :remote => true} do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Submit", :class => 'button' %>
<% end %>
<div id="invitations">
  <%= render :partial => 'invitations' %>
</div>