#header_login {
    float:right;
    margin-top:45px;
    position:relative;
}
#favourite{
    float: left;
    height: 18px;
    left: 9px;
    position: relative;
    top: -148px;
    width: 24px;
    display: none;
}

#category{
    float: left;
    margin: 19px 17px -20px 0;
    width: 200px;
    border: 1px solid gray;
    background-color: #F5F5F1;
}

#reg{
    background: none repeat scroll 0 0 greenyellow;
    border-top: 1px solid #DBDBDB;
    box-shadow: 0 1px 8px #888888;
    border-radius: 7px;
    height: 64px;
    left: 0px;
    padding-left: 9px;
    position: absolute;
    top: 22px;
    width: 201px;
    z-index: 1001;
    line-height: 22px;
}

ul li{
    list-style-type: none;
    margin: 15px -30px;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
}

