#header_login {
    float:right;
    margin-top:45px;
    position:relative;
}

.content {
    border:2px solid #BEB3B4;
    float:left;
    margin-bottom:23px;
    padding:0 15px 15px;
    width:905px;
}
.prodImgs {
    float:left;
    margin-top:18px;
}
.content .prodImgWrap {
    float:left;
    text-align:center;
    width:226px;
}
.content .prodImg {
    margin:0 13px 8px;
}
.prodImg {
    border:1px solid #666666;
    float:left;
    height:140px;
    margin-bottom:20px;
    margin-right:26px;
    padding:14px;
    position:relative;
    text-align:center;
    width:170px;
}
.content .itemNameVis {
    display:inline-block;
    font-size:13px;
    margin-bottom:20px;
}

#favourite{
    float: right;
    height: 18px;
    left: -13px;
    position: relative;
    top: -148px;
    width: 24px;
}

#category{
    float: left;
    margin: 19px 17px -20px 0;
    width: 200px;
    border: 1px solid gray;
    background-color: #F5F5F1;
}

#reg{
    background: none repeat scroll 0 0 greenyellow;
    border-top: 1px solid #DBDBDB;
    box-shadow: 0 1px 8px #888888;
    border-radius: 7px;
    height: 64px;
    left: 0px;
    padding-left: 9px;
    position: absolute;
    top: 22px;
    width: 201px;
    z-index: 1001;
    line-height: 22px;
}

ul li{
    list-style-type: none;
    margin: 15px -30px;
}

.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('/assets/icon_top.png') no-repeat;
}

