@charset "utf-8";
/* CSS Document */
body{ margin:0px; padding:0px; font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none;}
img{ border:none;}
#header{ width:954px; margin:0px auto; height:80px; border-bottom:6px solid #BEB3B4;  }
.logo{ margin-top:45px; float:left;}
#upNav{ float:right; margin-top:35px; position:relative;}
#maincontent{margin:0px auto;  }
#upNav form{ float:left; vertical-align:text-top; position:relative;}
#searchForm{ float:left; margin-top:35px; margin-left:20px;}
form input{ width:300px; height:20px; border:1px solid #c8c7c7; margin-right:10px;}
#searchForm input{ padding-left:10px; width:290px;}
.button{ background:url(/assets/button.jpg) no-repeat; vertical-align:middle; width:89px; height:19px; font-size:11px;color:#333; border:none; padding:4px 0px 3px 0px; margin:0px -6px; display:inline-block;text-align:center; }
button.small{ background:url(/assets/button.jpg) no-repeat; width:89px; height:22px; font-size:11px;color:#333; border:none; padding:0px 0px 3px 0px; margin:0px 3px 0px 20px; text-transform: capitalize; }
a.small{ background:url(/assets/button.jpg) no-repeat; font-weight: normal !important;  display:inline-block; width:89px; text-align: center; height:18px; font-size:12px !important;color:#333 !important; border:none; padding:4px 0px 3px 0px; margin:0px 3px 0px 20px; text-transform: capitalize; }
#maincontent h1{ color:#FC0000; font-size:18px; margin:26px 0px 0px 0px;padding:0px; text-transform:capitalize; font-weight:normal;}
.tabs ul li{ float:left; text-transform:uppercase; background-color:#E3DCDD; width:194px; height:19px; list-style:none; color:#716E6E; font-size:12px; text-align:center; padding-top:7px; margin-top:4px; margin-right:2px; font-weight:bold;  }
.tabs ul li a{ color:#666; }
.tabs ul{ margin:20px 0px 0px 0px; padding:0px; float:left;}
.tabs{ float:left; width:950px;}
.tabs ul li.active{ height:23px; font-size:14px; color:#fff; background-color:#767676; padding-top:7px; margin-top:0px;  }
.tabs ul li.active a { color:#fff;}
#content{ border:2px solid #BEB3B4; width:905px; float:left; padding:0px 15px 0px 30px; padding-bottom:58px; margin-bottom:23px; }
.store{ margin-top:25px; float:left; margin-bottom:15px;}
.storeImgWrap{ float:left; width:257px; height:150px; overflow:hidden; }
.storeImg{ float:left;}
.storeDesc { float:left; width:440px; margin-left:34px; }
.storeDesc h2{ text-transform:uppercase; font-size:14px; color:#FC0000;}
.storeDesc h2 a{ text-decoration: none;}
.storeDesc p{ padding:0px margin:0px; color:#000; font-size:12px; display: block; overflow: hidden; height: 40px;}
.storeDesc a{ color:#fc0000; font-size:12px; text-decoration:underline;}
.next{ background:url(/assets/next.png) right no-repeat; float:left; width:100px; height:55px; margin-left:48px; padding-top:40px; font-size:12px; color:#000; font-weight:bold; margin-top:15px; cursor:pointer;  }
#leftContent{ float:left; width: 905px;  }
#rightContent{ float:right; width:178px; }
.bar{ height:14px; background-color:#E3DCDD; font-size: 14px; color:#FC0000; padding:10px 0px 10px 15px;  }
.prodImgs{ margin-top: 18px; float:left; }
.prodImg{text-align: center; padding:14px; border:1px solid #666; width:170px; height:140px;float:left; position:relative; margin-right:26px; margin-bottom:20px;}
.bigImg{ text-align: center; padding:14px; border:1px solid #666;height: auto;margin-left: 165px;margin-top: -135px;position: absolute;width: 370px;z-index: 1;}
.prodImg a.heart{ position:absolute; top:5px; right:5px; display:none;}
.last{ margin-right:0px;}
.middle{ margin:0px 20px; }
.otherList{ padding:0px; margin:18px 0px 0px 10px;}
.otherList li{ list-style:none; background:url(/assets/arrow.png) 0px 4px no-repeat; color:#fF0000; padding: 0px 0px 3px 13px; font-size:12px;  }
.links{ font-size:11px; color:#333; float:right; margin-right:15px;	}
.links a{ font-size:11px; color:#333;}
#footer{  border-top:2px solid #BEB3B4; clear:both; padding-top:15px; margin:0px auto 44px; overflow:hidden; width:954px;}
#footer a { font-size:12px; color:#333;}
#footer sup{ color:#fc0000;}
#footer span{ font-size: 12px; margin-right: 20px;}
.footerRight{ float:right;}
.DD_small{ display: inline-block; margin-left: 20px;}
.wanderCommunity{float:right; margin-top: 3px!important;}
#maincontent p.big{ font-size:13px;}

.prodImg p{ text-align: left; display:none; font-size:10px; color:#fff; background-color:#E13447; width:170px;padding:14px; position:absolute; margin-bottom:0px; bottom:0px; opacity:0.9; left:0px;  }
.prodImg p .itemName{ text-transform:uppercase; }

.gbma {
    border-color: #FC0000 transparent transparent;
    border-right: 3px dashed transparent;
    border-style: solid dashed dashed;
    border-width: 3px 3px 0;
    display: inline-block;
    font-size: 0;
    height: 0;
    left: 4px;
    line-height: 0;
    padding-top: 1px;
    position: relative;
    top: -1px;
    width: 0;
}
.DD_Div_a{ font-size:14px; color:#666; font-weight:bold; margin-right:5px;  }
.DD_Div{ width:100px; height:110px; border:1px solid #333; position:absolute; right:0px; background-color:#fff; display:none; margin-top:5px; padding:0px; padding-top:5px;}

.DD_Div li{ font-size: 12px; padding:0px; margin:0px 0px 5px 0px; color:#333; display:block; text-decoration:none; padding:3px 15px 3px 5px; text-align:right;}
.DD_Div li:hover{ background-color:#D3D3D3; }

#gender_DD{ margin-left: 10px;}

.gender_DD_Div{ border:1px solid #333; position:absolute; display:none; margin-left:10px; background-color:#fff; margin-top:5px; padding:0px; padding-top:5px;}
.gender_DD_Div li{ font-size: 12px; margin:0px 0px 5px 0px; color:#333; display:block; text-decoration:none; padding:3px 15px 3px 10px;}
.gender_DD_Div li:hover{ background-color:#D3D3D3; }

/*********Store page****************/
#storeContent{ border:2px solid #BEB3B4; float:left; padding:5px 0px 10px 30px; width:915px;  margin-bottom:18px; }
#storeWrapper{ border:2px solid #BEB3B4; width:920px; float:left; padding:0px 0px 0px 30px;margin-bottom:23px; margin-top:10px; }
.storeMod{ margin-top:25px; float:left; margin-bottom:15px;}
.conTitle{ font-size: 14px; color:#FC0000; padding:10px 0px 10px 0px; float:left; width:950px;  }
/*#leftContent.storePage{ width:900px;}*/
.greyBar{border:2px solid#BEB3B4; width:875px; float:left;}

#slider{ width:880px; background-color:#E5E5E5; height:217px; float:left; margin-top:10px; }
.sItemGroup{ font-size:14px; color:#FC0000; }
.sItemName{ font-size:12px; color:#FC0000; }
#slider img{ margin-top: 8px; margin-bottom:10px;  }

/*********Sign up********************/
.required{ font-size:12px; margin-bottom:0px;}
#formDiv{ border:2px solid #BEB3B4; width:950px; float:left;margin-bottom:23px; margin-top:10px;}
#formDiv form{ background-color:#E3E3E3;  padding:0px; float:left; margin:45px;}
#formDiv form label{ font-size:14px; width:145px; display:inline-block;}
#formDiv form input{ width:289px;}
#formDiv form p{ margin:0px; border-bottom:1px solid #fff; padding:10px; }
#formDiv form p span{ font-size:11.5px; margin-left:150px; display: block; margin-top:3px;}
#formDiv .info{ float:left; width:320px; margin-top:45px;}
.info h2{ font-size:16px; font-weight:bold; }
.info p{ font-size:14px; }
.info a{ color:#Fc0000; text-decoration:underline; }
.bottomInfo{ clear: both; margin-left: 50px;}
.bottomInfo h2{ font-size:16px; font-weight: normal;}
.bottomInfo p{ font-size:14px; }
.bottomInfo a{ color:#Fc0000; text-decoration:underline; }

#formDiv form button{background:url(/assets/btn1.png) no-repeat; width:123px; height:32px; font-size:14px;color:#FC0000; border:none; padding:0px 0px 3px 0px; margin:0px 3px 0px 150px; }
#formDiv form input[type=checkbox]{ width: 20px; }
#formDiv p.checkboxP{ padding-left:155px;}
.followStore {display:inline-block}




/***********Profile page***********/


.profileDetails{ width: 954px; overflow:hidden; margin-bottom:20px;  }
.profileDetails img{ margin:10px 0px; border:5px solid #A6A9A6; float:left; width:200px; height:200px;  }
.profileDetails p{ float:left; margin-left:20px; font-family:"Comic Sans MS"; font-size:20px;}
.profileDetails p a{ color:#D30D04; font-size:12px; font-family:Arial, Helvetica, sans-serif;  }
.profileDetails p a:hover{ text-decoration:underline; }
#maincontent h1.subHead{ font-size: 14px; margin-bottom:10px; }
.content .prodImgs h3.sub_title{ display:inline; font-size:14px; color:#333; font-weight:normal; float:left;   }
.content .prodImgWrap{ float:left; width:185px; text-align: center;  }
.content{ border:2px solid #BEB3B4; width:905px; float:left; padding:0px 15px 15px 15px; margin-bottom:23px; }
.content ul{ float: left; width:220px; padding-left:5px;  }
.content ul li{ list-style:none; font-size:13px; margin-bottom:5px; }
.content ul li a{ color:#333;}
.content .itemNameVis{ display:inline-block; margin-bottom:20px; font-size:13px;}
.content .prodImg{ margin:0px 13px 8px 13px; }





/******Scroller ****/

/* Scroller Box */
#scroller_container {
    position: relative;
    width: 980px;
    margin:0px auto;
    height: 280px;
    overflow: hidden;
}

#scroller {
    white-space: nowrap;
    line-height: 60px;
    font-size: 60px;
}

#scroller p {
    padding: 0;
}
/* Scoller Box */


/**************Home page******************/
.homepage{ float: none; margin:20px auto 30px; overflow: hidden;}
#upcontent{ width:954px; margin:0px auto 0px; padding:10px; overflow: hidden;}
.scrollDivs span{ font-size:15px; color:#000;float:left;  }
#scroller{ margin-top:60px;}
#scroller .scrollDivs{ width:226px; text-align:center; float:left;  }
#scroller .prodImg{ margin-bottom:0px;}
#upcontent .logo{ width:200px; float: left;}
#upcontent p{ font-size:14px; color:#000; float: left; clear: both; margin-top:0px;}
#upcontent .facebook{  width: 200px; float: right; margin-top:40px;}
#upcontent .aRight{ float: right; clear:right; font-size:13px; text-decoration: underline; margin-top:5px;}
#upcontent .homeSearch{ margin-left: 120px; margin-top:45px;}
.prodImgWrap{ height:145px;}

.homepage h1{font-size:14px; color:#FC0000;}

/***************Product page**************************/
.product{ margin-top:25px; float:left; margin-bottom:30px; min-height: 200px;}
.product img{ }
.productImgWrap{ float:left; text-align: center; width:360px; height:350px; overflow:hidden; }
.product h3{ color:#FC0000; font-size:14px; float:left; margin-left:25px; margin-top:20px; width:250px; }
#nextProduct{ float:right; margin-right:60px; margin-top:100px; width:125px; }
.leftColumn{ float:left; width: 65%; clear:left; margin-right:15px;  }
.rightColumn{ float:right; width: 30%;  }
.itemWrapper{ clear:right; float:left; margin:15px 10px 10px 10px; width:100%;  }
.itemWrapper img{ float:left; margin-right:15px; }
.itemWrapper p{ color: #333; font-size:12px; }
.itemWrapper .imgWrapper{ width:150px; height:140px; overflow: hidden; float:left; }
.vidWrapper{ margin:15px 5px 0px; float: left; }
.product h3.price{ margin-top:0px; font-size:12px;}
#total_cart{position: relative;top: 25px;border: 2px solid gray;background-color: #F5F5F1;padding: 7px;left: 70px;}



/***********Deals page********************************/
.deals{margin-top:20px; padding-top:15px !important;}
.deal{overflow:hidden; margin-bottom:20px; height:440px;}
.leftSec{ width:13%; float:left; border:1px solid #999; padding:10px; margin-right:10px; text-align:center; }
a.thumbMore{ color:#FC0000; font-size:15px; font-weight:bold; margin-top:10px; display:block;}
a.thumbMore:hover{ text-decoration:underline; }
.leftSec img{ margin-bottom:5px; width:100px;}
.midSec{ width: 46%; float:left; text-align:center;}
.rightSec{width:34%; float:right; text-align:center;}
.dealsDetails{ text-align:left;  border:1px solid #999; padding:10px 5px 10px 15px; }
.dealsDetails h3{ color:#FC0000; font-size:14px; float:left; width:250px; }
.dealsDetails p.title{ font-size: 12px;}
.dealsDetails p{ margin-top:10px; margin-bottom:0px;}
.dealsDetails h3.price{ margin-top:0px; font-size:12px;}
.deals .prodImgs .prodImg{width: 140px; height: 110px;}
.bigImg{width: 370px; height: 300px;}
.deals .prodImgs .prodImg img{ width:140px;height: 105px;}
.deals .otherDeal{ height: 160px; width:340px; float:left; clear: right;}
.deals .otherDeal h2{ color:#333; font-size:18px; }
.deals .otherDeal h3{ color:#FC0000; font-size:15px; }
.sellerMsg{ text-align:left;}
.sellerMsg p{ font-style:italic; color:#666; font-size:13px; text-align:left;}
.sellerMsg h3{ font-size:13px; color:#333; }
.sellerMsg h4{ font-size:12px; color:#333; font-weight:normal; }
.sellerMsg img{ width:50px; float:left; margin-right:15px;}
.strikeTxt{ text-decoration:line-through; color:#FF0000; margin-right:8px;}
.deals .cartButton {
    -moz-border-radius: 5px 5px 5px 5px;
    -moz-box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333333;
    background-color: #EE432E;
    background-image: -moz-linear-gradient(center top , #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
    border: 1px solid #951100;
    color: #FFFFFF;
    width: 200px;
    font: bold 16px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 12px 15px 14px;
    text-align: center;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8); display: block;
}
.dealsDetails table{ width:300px;}
.dealsDetails p.smallText{ font-size:12px;}
.deals .shareFacebook {background:url(/assets/facebook-share-generic.png) no-repeat; display: block; width: 217px; height: 47px; margin-top:20px;}

/*********************product video page***********************/
.product-video{ margin: 30px 0px; text-align: center;}
.product-image{ margin: 10px 0px 30px 0px; text-align: center;}


/****************Override Jqueruy UI css**********************/

.ui-widget-content{ background: none; background-color: #fff;}
.ui-widget{ font-size:14px;}
.ui-corner-all{ -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px;}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{ background:none; background-color:#E3DCDD;}


/****************Form errors CSS************************/
#error_explanation{ margin: 0px 10px; color:#ff0000;}
#error_explanation h2{ font-size: 14px; font-weight: normal;}
#error_explanation ul{ font-size:12px;}
#error_explanation ul li{ font-style: italic;}



.heartFav{ position: absolute; right: 5px; top:5px;}


#formDiv_deal{ border:2px solid #BEB3B4; width:950px; float:left;margin-bottom:23px; margin-top:10px;}
#formDiv_deal form{ background-color:#E3E3E3;  padding:0px; float:left; margin:45px;}
#formDiv_deal form label{ font-size:14px; width:300px; display:inline-block;}
#formDiv_deal form input{ width:289px;}
#formDiv_deal form p{ margin:0px; border-bottom:1px solid #fff; padding:10px; }
#formDiv_deal form p span{ font-size:11.5px; margin-left:150px; display: block; margin-top:3px;}
#formDiv_deal .info{ float:left; width:290px; margin-top:45px;}
#formDiv_deal form button{background:url(/assets/btn1.png) no-repeat; width:123px; height:32px; font-size:14px;color:#FC0000; border:none; padding:0px 0px 3px 0px; margin:0px 3px 0px 300px; }
#formDiv_deal form span.imageP{display: block; margin-left: 300px; margin-top: -20px;}
#cart_expire_time{font-size: 13px;font-weight:bold;color:#C63929;position: relative;width: 260px;left: 738px;height: 0px;}


