<table>
  <tr class="row">
    <td>Category</td>
    <td><%= f.text_field :name %></td>
    <td><%= validation_error(@category.errors['name'])%></td>
  </tr>
  <tr class="row">
    <td></td>
    <td>
      <div><img alt="" title="" src="/assets/user-images/spacer.png" /></div>
      <div><input type="submit" title="Submit" value="Submit" /></div>
    </td>
  </tr>
</table>