<table>
  <tr>
    <td>Category</td>
    <td><%= f.text_field :name %></td>
    <td><%= validation_error(@category.errors['name'])%></td>
  </tr>
  <tr>
    <td></td>
    <td><button type="submit">Category</button> </td>
  </tr>
</table>