<table>
  <tr class="row">
    <td>Category:</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= validation_error(@category.errors['name'])%></td>
  </tr>
  <tr class="row">
    <td></td>
    <td>
      <div><input type="submit" title="Submit" value="Submit" /></div>
    </td>
  </tr>
</table>