<div class="fields">
  <div>
    <%= f.select :product_color, %w(Red Black Blue Green Yellow Orange White)  %>
    <%= f.text_field :product_qty %>
    <%= link_to_remove_fields image_tag("/assets/seller-images/icon-close.png"), f %><br />
  </div>
</div>