<div class="deals" id="content">
  <div>
    <div style="float: right;margin-right: 35px;">
      <%= (user_signed_in? and current_user.role == 'seller') ? (link_to "New Product", new_product_path) : "" %>
    </div>
  </div>
  <div class="content homepage" style="width: 800px;background-color: #F5F5F1;">
    <div class="prodImgs">
      <% if !@products.empty? %>
        <table border="1" width="145%">
          <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Colors</th>
            <th>Posted On</th>
            <th>Qty sold</th>
            <th>Qty Remaining</th>
            <th>Auctions</th>
          </tr>
          <% for product in @products %>
          <tr>
            <td><%= product.id %></td>
            <td><%= link_to product.title, product %></td>
            <td></td>
            <td><%= product.created_at.strftime("%d-%m-%Y")%></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        </table>
      <% else %>
        <div style="text-align: center;padding: 10px;">
          No products added
        </div>
      <% end %>
    </div>
  </div>
</div>

