<h1 class="icon-profile"><span>Import Products</span></h1>
<div class="content-profile">
  <div id="formDiv">
    (Format required of the import should be <b>Product Title, Price, Seller Name</b>)<br />
    <b style="color: red;font-size: 13px;">Hint: (Presently working this issue don't upload any csv file)</b>
    <%= form_tag upload_products_products_path, :multipart => true do %>
      <table>
        <tr class="row">
          <td>Product CSV File:</td>
          <td><%= file_field_tag :file %></td>
        </tr>
        <tr class="row">
          <td></td>
          <td>
            <div><input type="submit" title="Submit" value="Submit" /></div>
          </td>
        </tr>
      </table>
    <%end%>
  </div>
