<h1 class="icon-addProduct"><span>Add Product</span></h1>
<ul>
  <% @product.errors.full_messages.each do |msg| %>
    <li style="color: red;"><%= msg %></li>
  <% end %>
</ul>
<div class="content-profile">
  <%= form_for @product do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>